.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 4%;
  gap: 2em;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1vw;
  font-size: 14px;
  letter-spacing: 0.2em;
}

.graph {
  display: flex;
  justify-content: center;
  width: 100%;
}
